@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow:wght@400;700&display=swap');

.navbar.shadowed {

    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.35);

}

.logo {
    width: 60%;
    position: relative;
    transition: 0.5s;
    position: relative;
    top: 0;
}

.logo.position {

    position: relative;
    top: 12px;

}

.logo.faded {

    filter: grayscale(100%);
    width: 46%;
}

html {

    scroll-padding-top: 65px;
    scroll-behavior: smooth;

}

.navbar-light .navbar-nav .nav-link {
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 0.7px;
    font-size: 16px;
    color: #909090;
    transition: 300ms;
    margin-left: 16px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #41d2f2;
    transform: scale(1.05);

}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {

    color: #909090;
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .show>.nav-link:hover {

    transform: scale(1);



}


.section-spacing {
    height: 80px;
    background-color: white;

}

.top-bar {
    height: 40px;
    background-color: #e7e7e7;

}

.carousel-item img {
    height: 600px;
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.left-content {
    position: absolute;
    width: 35%;

    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    background-color: #fff;
    padding: 40px 50px;

    box-shadow: 19px 0px 15px -14px rgba(0, 0, 0, 0.1);



    z-index: 100;

}

.scroll-arrow {
    position: absolute;
    bottom: -100px;
    left: 30%;
    color: grey;
}

/*typography*/

.coolText>* {
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    color: #AAAAAA;
}

.coolText.second>* {
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    color: #AAAAAA;
    font-weight: bold;
}

.coolText.third>* {
    font-family: 'PT Sans Narrow', sans-serif;
    position: relative;
    color: #AAAAAA;
    font-weight: bold;
}


.coolText {
    visibility: hidden;
    padding: 0;
    font-size: 45px;
    line-height: 1;
    display: flex;
    overflow: hidden;
}

.coolText.first {
    font-size: 40px;

}

.coolText.first div {
    display: inline-block;
    letter-spacing: 1.5px;
}

.coolText.second div {
    display: inline-block;
    letter-spacing: 4px;
}

.coolText.third div {
    display: inline-block;
    letter-spacing: 2px;
}

.coolText div::before {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-char);
    transform: translateY(-103%);
}

.hero-subtitle {
    font-size: 14.5px;
    color: grey;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.secondary-heading {
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    color: #CACACA;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-weight: 700;
}

.secondary-heading.animated {

    letter-spacing: -2px;
}


.secondary-heading.animated span {

    opacity: 0.2;
    display: inline-block;
}

h3.business-heading {
    color: #AAAAAA;
    font-size: 28px;


    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;


}

.business-heading span {

    opacity: 0.3;
    display: inline-block;
    letter-spacing: -4px;

}


.mv-section-heading {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    color: #cacaca;
    margin-bottom: 25px;
    letter-spacing: 2px;


}

.mv-section-heading span {
    opacity: 0.2;
    display: inline-block;
    letter-spacing: -5px;


}

.description {
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 21px;

}

.description.dark {
    color: rgba(0, 0, 0, 0.5);

    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 21px;
}



h3.mv-card-title {
    color: rgba(255, 255, 255, 0.65);
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 3px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}




p.mv-card-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;


}

/*typography*/
/*button*/

.my-btn {
    text-decoration: none;
    font-size: 13px;
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.6);
    outline: 1px solid rgba(255, 255, 255, 0.6);
    padding: 0.7em 1.5em;
    transition: 300ms ease-out;
    display: inline-block;
    position: relative;
}

.my-btn:hover {

    color: #fff;
    outline-color: #41d2f2;

}

.my-btn.dark {

    color: rgba(0, 0, 0, 0.6);

    outline-color: rgba(0, 0, 0, 0.4);



}


.my-btn.dark:hover {

    color: #fff;
    outline-color: #41d2f2;



}

.my-btn::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #9480BF;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;
    transition-delay: 100ms;

    z-index: -1;
}

.my-btn:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #9480BF;
}

.my-btn::after {
    content: "";
    position: absolute;
    inset: 0;

    background-color: #F2AED4;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-out;

    z-index: -1;
}



.my-btn:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    background-color: #41d2f2;

}



/*button*/

/*business section*/
.business-content {
    background-color: white;
    margin-right: -100px;
    position: relative;
    z-index: 100;
    padding: 45px;
}

.businessText {
    display: none;
    position: fixed;
    top: 60%;
    transform: translateY(-60%);
    right: 30px;
    opacity: 0;

}



.businessText span {
    display: block;
    transform: rotate(90deg);
    margin: 0;
    line-height: 0.7;
    color: #C3C3C3;
}

.business-image-wrapper {
    width: 100%;
    height: 400px;
    position: relative;
    right: 70px;
    overflow: hidden;


}

.businessImage {

    width: 100%;
    height: 100%;
    object-fit: cover;


}

.businessImageOverlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.25;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.businessImageOverlay h5 {
    color: white;
}

/*footer*/

.footer a {

    text-decoration: none;
    color: grey;
    font-size: 17px;
    transition: 0.25s;
    margin-block: 5px;
    display: inline-block;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer p {

    text-decoration: none;
    font-size: 17px;
    transition: 0.25s;
    margin-block: 5px;
    color: #949494;
    letter-spacing: 1px;
}


.footer a:hover {

    color: #41D2F2;
}

a.social-icons {
    font-size: 25px;
    margin-left: 15px;
}

.footer-logo {

    padding-top: 20px;
}

.footer a.my-btn {

    position: relative !important;
    z-index: 1;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;


}

.footer a.my-btn::before,
.footer a.my-btn::after {

    z-index: -1 !important;

}